// layout.scss

@font-face {
    font-family: 'Dekko';
    src: url('../../shared/fonts/google/Dekko-Regular.ttf');
    font-display: swap;
}

@font-face {
    font-family: 'Permanent Marker';
    src: url('../../shared/fonts/google/PermanentMarker-Regular.ttf');
    font-display: swap;
}
