/*** BASIC LAYOUT: HEADER ***/

.header {
    background: $header-background;
    opacity: 0.7;
}

.title,
.logo {
    float: left;
    padding: 3em 3em 2em 0;
}

.title {
    * {
        margin: 0;
        color: $title-color;
    }

    p {
        font-style: italic;
    }

}

.logo {
    height: $h1-font-size * 5.4;

    img {
        min-width: 4.8em;
    }

    * {
        display: block;
        height: 100%;
    }
}

.logo+.title h1 {
    margin: 0.8rem 0;
}

.logo+.title.tagline h1 {
    margin: 0;
}

.nav {
    padding: 3em 0;
    text-align: right;

    ul {
        list-style: none;
        margin: 0;
        padding: 0;
    }

    ul li {
        display: inline-block;
        margin-left: 1em;
        padding: 0;
        font-weight: bold;
        font-size: $h1-font-size / 2;
    }

    a {
        color: $nav-color;
    }

    .active a,
    a:hover {
        color: $title-color;
    }

    a:hover {
        color: $header-color;
        text-decoration: underline;
    }
}

.nav-toggle {
    display: none;
    color: $nav-color;

    &:hover {
        color: $title-color;
    }

    &:hover {
        color: $header-color;
        text-decoration: underline;
    }
}

.nav2-toggle {
    display: none;
    color: $nav-color;

    &:hover {
        color: $title-color;
    }

    &:hover {
        color: $header-color;
        text-decoration: underline;
    }
}

/* IE8 + IE9 clearfix */

.header>.container::after {
    content: '';
    display: block;
    clear: both;
}

.flash-img {
    height: 100%;
    width: 100%;
    background-color: $flash-img-background;
    padding: 5px;
    border-radius: 10px;
}
