@import '../../node_modules/normalize.css/normalize';
@import 'variables';
@import 'typography';
@import 'header';
@import 'byline';
@import 'footer';
@import 'responsive';
@import 'report';
@import 'kmoms';

* {
    box-sizing: border-box;
    border: 0 none;
    margin: 0;
    padding: 0;

    &:focus {
        outline: 0;
    }
}

.hidden {
    display: none !important;
}

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0 none;
}

.slide {
    overflow-y: hidden !important;
    transition: height 0.5s ease-in !important;
}

/*** BASIC LAYOUT ***/

html {
    background-image: url('../../shared/img/summer_landscape_monochromatic.png');
    background-attachment: fixed;
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    overflow-y: scroll;
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.main {
    flex: 0.6 0 auto;
    padding: 4em 0 1em;

    /* very ugly overflow fix, avoid this whenever possible! */

    .container {
        overflow-x: auto;
    }
}

.header,
.footer {
    flex: 0 0 auto;
}

.container {
    max-width: 48em;
    padding: 0 0.5em;
    margin: 0 auto;
}

.widescreen .container {
    max-width: $widescreen-max-width;
}
