// variables.scss

$widescreen-max-width: 72em !default;

$standard-font-family: 'Dekko' !default;
$header-font-family: 'Permanent Marker', sans-serif !default;

$base-color: #00f !default; // blue

$header-color: #2d636f !default;
$header-background: #fff;

$nav-color: #75b7c8;
$title-color: #0a2b33;
$flash-img-background: rgba(122, 186, 200, 0.1);

$h1-font-size: 2.5em;

$body-color: #444;

$a-color: #2eae9b;
$a-hover-color: $body-color;

$hr-border-color: #f5f5f5;
$hr-background: $hr-border-color;

$th-background: $hr-border-color;
$th-color: #333;
$th-border-color: #ccc;

$code-border: $th-border-color;
$code-background: $hr-border-color;

$pre-border: $th-border-color;
$pre-background: $hr-border-color;

$blockquote-border-left: $hr-border-color;

$form-border-color: $th-border-color;
$form-background: $header-background;
$form-focus-border-color: $a-color;
$form-focus-box-shadow: $a-color;
$form-focus-hover-background: $hr-border-color;

$fieldset-background: $hr-border-color;

$byline-background: rgba(122, 186, 200, 0.6);
$byline-a-color: #2f4f4f;

$footer-a-color: rgb(221, 221, 221);
$footer-a-hover-color: $header-background;
